@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-text {
  font-weight: 600;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

//image overlay

.overlay-effect {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background: #354174;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }
  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      pointer-events: none;
      content: '';
      -webkit-transition: -webkit-transform 0.6s;
      transition: transform 0.6s;
      -webkit-transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -100%, 0);
      transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg)
        translate3d(0, -100%, 0);
    }
    h3 {
      color: white;
      font-family: sans-serif;
      opacity: 0;
      margin: 75px 0 15px 0;
      font-size: 28px;
    }
    span {
      display: block;
      margin-top: 20px;
      color: white;
      font-size: 0.9em;
      opacity: 0;
    }
  }
  &.visible,
  &:hover {
    span,
    a,
    h3 {
      animation: fadein ease-in 0.3s;
      animation-fill-mode: forwards;
      animation-delay: 0.2s;
    }
    img {
      opacity: 0.4;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    .caption {
      &:before {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
          translate3d(0, 100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
          translate3d(0, 100%, 0);
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// bootstrap hacks
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: white;
  color: #0056b3;
}
.nav-link,
.btn {
  padding: 0.2em;
}

ul.navbar-nav {
  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
  li {
    padding: 5px 0.5em 0 0.5em;
    cursor: pointer;
    border-right: 1px solid #d6d0d0;
    &:last-child {
      border: none;
    }
    @media (max-width: 768px) {
      display: inline-block;
      border: none;
      width: auto;
      text-align: center;
    }
  }
  span,
  a {
    color: #222;
  }
}

.justify-content-md-center {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #222;
}

@import './layout.scss';
